%size{
    max-width: 1110px;
    width: 80%;
    margin: 0 auto;
    display: flex;
}
%btn-txt{
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;

    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    border: none;
  
}
%con-tittle{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    color: #091133;
}
%con-txt{
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #6F7CB2;
}



%n-photo{
    width: 50%;
    @media (max-width: 905px){
        width: 100%;

     }
}

%photo-n{
    width: 100%;
    height: max-content;
    @media (max-width: 990px){
        
        
       
     }
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

body {
  flex-basis: 100%;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

    

a,button{
    cursor: pointer;
}
button{
    border: none;
}
a{
    text-decoration: none;
}
.header{
    background: url(../img/designer_1.svg);
    background-repeat: no-repeat;
    background-size: 72% auto;
    background-position: right 0 top 0;
    padding-bottom: 388px;
    @media (max-width: 900px){
        background: white;
        padding-bottom: 50px;
  
 }
   @media (max-width: 998px){
     padding-bottom: 50px;

}
     @media (max-width: 1200px){
    padding-bottom: 50px;

}
}

.header__wrapper{
    
    @extend %size;
    flex-direction: column;
   
    @media (max-width: 900px){
        width: 90%;
        text-align: center;

     }
     @media (max-width: 500px){
        width: 80%;
        text-align: center;

     }
}

.header__top{
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: 700px){
        flex-direction: column;
        text-align: center;
    }
}
.header__nav{
    
    display: flex;
    flex-wrap: nowrap;
    & a{
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
       
    }
    & .nav-menu{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #505F98;   
        margin-right: 60px;   
        &:last-child{
            margin-right: 0px;
        }
    }

}

.logo__tittle{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 38px;
    color: #37447E;
    @media (max-width: 700px){
        margin-top: 20px;
    }


}

.header-btn{
    background: #111B47;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    width: 160px;
    height: 26px;
    color: white;
    border: none;
    border-radius: 2px;

    @media (max-width: 700px){
       margin-top: 20px;
    }
}

.btn--dark:hover{
    border: 2px solid #111B47;
    background: white;
    color:  #111B47;;
}
.btn--dark:active{
    background: #e5e6f0ec;
    
}

.header__main{
    margin-top: 259px;
    max-width: 50%;

    @media (max-width: 900px){
       max-width: 100%;
       text-align: center;
       margin-top: 50px;
    }
}



.header__tittle{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 66px;
    letter-spacing: 1px;
    color: #091133;
    @media (max-width: 900px){
        font-size: 40px;
        line-height: 56px;
    }


}

.header__text{
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
color: #505F98;
margin-top: 20px;
}

.buttons{
    margin-top: 69px;
    @media (max-width: 450px){
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }

}

.button-purchase{
  width: 189px;
  height: 36px;
  background: #111B47;
color: white;
@extend %btn-txt;
margin-right: 30px;
@media (max-width: 450px){
    margin-right: 0px;
       
}

}

.button-learn{
    width: 189px;
    height: 36px;
    color: #091133;
    border: 2px solid #091133;
    background: transparent;
    &:hover{
        background:#111B47;
        color: #FFFFFF;
    }
    &:active{
        background: #091133;
        color: #FFFFFF;
    }
    @extend %btn-txt;
    @media (max-width: 998px){
        margin-top: 20px;
       
    }

}

.container__wrapper{
    @extend %size;
   
}
.second{
    
    flex-direction: row;
    display: flex;
   
    @media (max-width: 990px){
        padding-bottom: 50px;
        margin-top: 50px;
       
    }
    @media (max-width: 900px){
        flex-direction: column;
        text-align: center;
    }
 
    
}
.second-main{
    margin-top: 108px;
    max-width: 50%;
    @media (max-width: 900px){
       max-width: 100%;
       text-align: center;
       margin-top: 50px;
       order: 2;


       
    }
}

.second-photo{
  @extend %n-photo
}
.photo2{
    width: 100%;
    max-height: 520px;
}


.container__tittle{
    @extend %con-tittle;
    @media (max-width: 900px){
       margin-top: 50px;
}

}

.container__text{
    margin-top: 16px;
    @extend %con-txt;
}

.two-sections{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
   
   
}
.section1.first{
    margin-right: 30px;
}

.section1{
    max-width: 50%;

}
.two-icon{
    width: 36px;
    height: 36px;
}

.tittle-goes-here{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #091133;

}

p.txt{
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
color: #5D6970;
}
.third{    
    margin-top: 122px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 167px;
    justify-content: space-between;
    @media (max-width: 990px){
        padding-bottom: 50px;
        margin-top: 50px;
       
    }
    @media (max-width: 900px){
        flex-direction: column;
        text-align: center;
    }
 
}
.third__main{
    max-width: 40%;
    align-self: center;

    @media (max-width: 900px){
        max-width: 100%;
        text-align: center;
        margin-top: 50px;
 
        
     }
   
}

.third-photo{
    @extend %n-photo
  }
  .photo3{
      width: 100%;
  }
  

.four{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 100px;
    padding-bottom: 50px;
    margin-top: 50px;
    justify-content: space-between;
   
    @media (max-width: 990px){
        padding-bottom: 50px;
        margin-top: 50px;
       
    }
    @media (max-width: 900px){
        flex-direction: column;
        text-align: center;
    }

}

.four__main{
    max-width: 40%;
    align-self: center;
    @media (max-width: 900px){
        max-width: 100%;
        text-align: center;
        margin-top: 50px;
        
     }
}

.four-photo{
    @extend %n-photo
  }
  .photo4{
      width: 100%;
  }
  
.fifth{
    padding-top: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 128px;
    justify-content: space-between;
    @media (max-width: 990px){
        padding-bottom: 50px;
        margin-top: 50px;
        padding-bottom: 0px;
        padding-top: 0px;
       
    }
    @media (max-width: 900px){
        flex-direction: column;
        text-align: center;
    }

}
.fifth__main{
    max-width: 40%;
    align-self: center;
    @media (max-width: 900px){
        max-width: 100%;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        
     }
}


.button-purchase-now{
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
text-align: center;
color: #FFFFFF;
background: #111B47;
border-radius: 2px;
width: 150px;
height: 32px;
margin-top: 40px;

}

.fifth-photo{
    @extend %n-photo
  }
  .photo5{
      width: 100%;
      padding-right: 10px;
  }
  


.container-sixth{
    background: url(../img/bg6.svg);
    background-repeat: no-repeat;
 
    padding-bottom: 176px;
    @media (max-width: 990px){
        padding-bottom: 50px;
        background: #f3f5ff
    }

}
.sixth{
    padding-top: 237px;
    justify-content: center;
    @media (max-width: 990px){
        padding-top: 50px;
       
    }
    @media (max-width: 900px){
        
        text-align: center;
    }
 
    
   
}

.sixth__main{
    max-width: 50%;
    align-self: center;
    text-align: center;
    @media (max-width: 990px){
        max-width: 70%;
       
    }
    @media (max-width: 700px){
       max-width: 100%;
       text-align: center;
       margin-top: 50px;
    }

}

.price{
    margin-top: 35px;
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 66px;
letter-spacing: 1px;
color: #222F65;
}

.design {
font-family:'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;

color: #37447E;
}

.one-price {
    margin-top: 60px;
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #5D6970;
}

.button-purchase-sixth{
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 24px;
color: #FFFFFF;
width: 189px;
height: 32px;
background: #111B47;
border-radius: 2px;
margin-top: 9px;
border: none;

}
.footer{
    background: #E7ECFF;
}
.footer__wrapper{
    padding-bottom: 32px;
    @extend %size;
    flex-direction: column;
    @media (max-width: 1100px){
       max-width: 90%;
    }
}
.footer__top{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 61px;
    align-items: center;
    flex-wrap: wrap;
    @media (max-width: 700px){
        flex-direction: column;
        text-align: center;
    }
}
.your__company{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #939EA4;
}
.button-purchase-footer{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
text-align: center;
color: #FFFFFF;
width: 109px;
height: 26px;
background: #111B47;
border-radius: 2px;
@media (max-width: 700px){
    margin-top: 30px;
}
}
.footer__bottom{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
    align-items: center;
    border-top: 1px solid #CDD1D4;
    @media (max-width: 700px){
        flex-direction: column;
        text-align: center;
    }

}
.footer__nav{
    margin-top: 20px;
}
.footer__nav a{
    
    margin-right: 60px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #929ECC;
    &:last-child{
        margin-right: 0px;
    }
    &:hover{
        text-decoration: underline;
    }

}
.social{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.social a{

    margin-left: 30px;
   
    &:first-child{
        margin-left: 0px;
    }
}