doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='./css/style.css')
  link(rel="stylesheet", href="./css/reset.css")
  link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap" rel="stylesheet")
  title Document
header.header
  .header__wrapper
    .header__top
      .header__nav
        a.nav-menu(href='@') Home
        a.nav-menu(href='@') About
        a.nav-menu(href='@') Contact
      .header__logo
        h2
          a.logo__tittle Landie
      .header__button
        button.header-btn.btn--dark(type='submit') Button Label
    .header__main
      h1.header__tittle Introduce Your Product Quickly &amp; Effectively
      p.header__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
      p.header__text mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      .buttons
        button.button-purchase.btn--dark(type='submit') Purchase UI Kit
        button.button-learn(type='submit') Learn More
.container
  .container__wrapper.second
    .second-main
        h2.container__tittle Light, Fast &amp; Powerful
        p.container__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        .two-sections
            .section1.first
                img.two-icon(src='./img/goes-icon.svg' alt='')
                h3.tittle-goes-here Title Goes Here
                p.txt Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            .section1
                img.two-icon(src='./img/goes-icon.svg' alt='')
                h3.tittle-goes-here Title Goes Here
                p.txt Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aeneanmcommodo ligula eget dolor.
    .second-photo
        img.photo2(src="./img/bg2.svg", alt="")        
.container
  .container__wrapper.third
    .third-photo
        img.photo3(src="./img/bg3.svg", alt="")
    .third__main
        h2.container__tittle Light, Fast &amp; Powerful
        p.container__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
    
.container
  .container__wrapper.four
    .four-photo
        img.photo4(src="./img/bg4.svg", alt="")
    .four__main
        h2.container__tittle Light, Fast &amp; Powerful
        p.container__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
    
.container
  .container__wrapper.fifth
    .fifth-photo 
        img.photo5(src="./img/bg5.svg", alt="") 
    .fifth__main
        h2.container__tittle Light, Fast &amp; Powerful
        p.container__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        
        button.button-purchase-now.btn--dark(type='submit') Purchase Now
      
.container.container-sixth
  .container__wrapper.sixth
    .sixth__main
        h2.container__tittle A Price To Suit Everyone
        p.container__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
        h2.price $ 40
        h5.design UI Design Kit
        h6.one-price See, One price. Simple.
        button.button-purchase-sixth.btn--dark(type='submit') Purchase Now
footer.footer
  .footer__wrapper
    .footer__top
      h6.your__company &copy;2020 Yourcompany
      h2
       a.logo__tittle Landie
      button.button-purchase-footer.btn--dark(type='submit') Purchase Now
    .footer__bottom
      .footer__nav
        a(href='@') Home
        a(href='@') About
        a(href='@') Contact
      .social
        a(href='#')
          img(src='./img/fb.svg' alt='fb icon')
        a(href='#')
          img(src='./img/in.svg' alt='in icon')
        a(href='#')
          img(src='./img/tw.svg' alt='tw icon')
        a(href='#')
          img(src='./img/you-tube.svg' alt='you-tube icon')
        a(href='#')
          img(src='./img/instagram.svg' alt='img/instagram')
